@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 0.5rem;
    height: 20px;
  }

  .scrollbar-medium::-webkit-scrollbar-thumb {
    border-radius: 100vh;
  }
}
